In [1]:
tup1 = ('physics', 'chemistry', 'biology', 'english',97, 100,88,92)

In [2]:
tup1

('physics', 'chemistry', 'biology', 'english', 97, 100, 88, 92)

In [3]:
tup1 = ('physics', 'chemistry', 'biology', 'english',97, 100,88,92)
tup2 = (1, 2, 3, 4, 5 )

In [5]:
tup3 = tup1 + tup2
print (tup3)

('physics', 'chemistry', 'biology', 'english', 97, 100, 88, 92, 1, 2, 3, 4, 5)

In [6]:
print(len(tup1))

8

In [7]:
tupf = ("apple", "banana", "cherry")
print('cherry' in tupf)

True

In [10]:
#WAP TO PICK THE 3RD , 4TH N 5TH OBJECT AND CREATE ANOTHER TUPPLE WITH THE SAME.

l = []
tupa = ("apple", "banana", "cherry", "mango", "grapes")
for i in range(2,len(tupa)):
    l.append(i)
l
tupb = tuple(l)
print(tupb)

(2, 3, 4)

In [11]:
 #Counts the number of occurrences of  an item  from a tuple of min 10 elements.
    
def countEl(tup, x): 
    count = 0
    for ele in tup: 
        if (ele == x): 
            count = count + 1
    return count 

tupc = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2) 
el = 8
print(countEl(tupc, el))

4

In [15]:
#Write a Python program calculate the product, multiplying all the numbers  with 35
tup4=()
for ele in tup:
    
  prod=ele*35

  tup4=tup4+(prod,)

print(tup4)

(35, 70, 105, 140, 175, 210, 245, 280, 315)

In [16]:
""" Write a Python program to replace last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]
"""
l=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
newl=[]
x=int(input("Enter a number for replacement:"))
for i in l:
  temp=list(i)
  temp[-1]=x
  newl.append(tuple(temp))

print(newl)

Enter a number for replacement:10
[(10, 20, 10), (40, 50, 10), (70, 80, 10)]