In [2]:
'''
WAP TO MENTION THE CELEBRATIONS IN A MONTH , STUDENTS PARTICIPATING IN EACH AND FIND THE STUDENT WHO PARTICIPATES

IN MORE THAN 1 EVENT.

'''

'\nWAP TO MENTION THE CELEBRATIONS IN A MONTH , STUDENTS PARTICIPATING IN EACH AND FIND THE STUDENT WHO PARTICIPATES\n\nIN MORE THAN 1 EVENT.\n\n'

# SET

#### NOTES

In [3]:
my_set = {1, 2, 3,5,9,77}
print(my_set)

{1, 2, 3, 5, 9, 77}

In [5]:
my_set = {1, 2, 3,5,9,'chandan',1,2,True}
print(my_set)

{1, 2, 3, 'chandan', 5, 9}

In [6]:
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

{1, 2, 3, 4}

In [7]:
s = set()

In [9]:

my_set.update([4, 5], {1, 6, 8})

print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [10]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
print(A & B)
print(A - B)
print(A ^ B)

{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [13]:
my_set.discard(4)
my_set.remove(6)

In [15]:
print(len(my_set))

5

# PROBLEMS

In [16]:
#Write a Python program to remove an item from a set if it is present in the set.


num_set = set([0, 1, 2, 3, 4, 5])

num_set.discard(4)

print(num_set)

{0, 1, 2, 3, 5}

In [17]:
#Write a Python program to create an intersection of sets.

#Intersection

setx = set(["green", "blue"])

sety = set(["blue", "yellow"])

setz = setx & sety

print(setz)

{'blue'}

In [18]:
#Write a Python program to create set difference.

setx = set(["apple", "mango"])

sety = set(["mango", "orange"])

setz = setx & sety

print(setz)



setb = setx - setz

print(setb)

{'mango'}
{'apple'}

In [19]:
#Write a Python program to find maximum and the minimum value in a set.


s = set([5, 10, 3, 15, 2, 20])



print(max(s))



print(min(s))

20
2

In [22]:
#Write a Python program to check if a set is a subset of another set.

A = {1, 2, 3}

B = {1, 2, 3, 4, 5}

print(A.issubset(B))

print(B.issubset(A))

True
False

In [23]:
#Write a Python program to find the length of a set.


s = set([5, 10, 3, 15, 2, 20])


print(len(s))

6

In [24]:
#Write a Python program to check if two given sets have no elements in common.

x = {1,2,3,4}


y = {4,5,6,7}

print(x.isdisjoint(y))

False

In [25]:
#Write a Python program to find the elements in a given set that are not in another set.

sn1 = {1,2,3,4,5}

sn2 = {4,5,6,7,8}

print(sn1.difference(sn2))

print(sn2.difference(sn1))

{1, 2, 3}
{8, 6, 7}